<div class="bg-light p-4">
  <%= form_tag("#search", method: "get", remote: false) do %>
    <div class="d-flex justify-content-center align-items-end">
      <div class="form-group">
        <%= label_tag :ingredients, "Ingrédients (séparés par un ';' )" %>
        <%= text_field_tag :ingredients, params[:ingredients], class: "form-control" %>
      </div>
      <%= button_tag(id: "searh", :class => "btn btn-primary mx-4") do %>
        Rechercher
      <% end %>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-md-12 text-center pagination-hd">
      <%= will_paginate @recipes, renderer: BootstrapPagination::Rails  %>
    </div>
  </div>

  <div class="row align-items-stretch gy-4">
    <% @recipes.each do |recipe| %>
      <div class="col-md-6 col-lg-3 col-12">
        <div class="bg-white h-100 p-3 rounded">
          <h4><%= recipe.name %></h4>
          <ul class="list-group">
          <% recipe.ingredients.each do |ingredient|  %>
            <li class="list-group-item"><%= ingredient.name %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-4">
    <div class="col-md-12 text-center pagination-hd">
      <%= page_entries_info @recipes, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>